/*responsive untuk mobile*/
@media screen and (max-width: 576px){
	/*setting global*/
	body{
		padding: 0;
		margin: 0;
	}
	p{
		font-size: 14px;
	}
	a{
		text-decoration: none;
	}
	/*baru*/
	h1{
		font-size: 22px;
	}
	button.btn-search{
		background-color: transparent;
		border: none;
		height: 100%;
	}
	button  .fa.fa-search{
		opacity: 0.7;
	}
	/*baru*/
	.card-title{
		font-size: 14px;
	}
	.badge{
		font-size: 12px;
	}
	/*baru*/
	.jumbotron-category .deskripsi-jurusan{
		text-align: justify;
	}

/*style responsive jumbotron*/
	.jumbotron-fluid{
		height: 40vh;
		margin-top: 87px;
	}
	/*baru*/
	.jumbotron .container .col-md-6.img-jumbo{
		display: none;
	}
	.jumbotron .container .col-md-6 h1{
		font-size: 26px;
	}
	.jumbotron .container .col-md-6 p{
		font-size: 14px;
	}
	.jumbotron .bg-wave{
		bottom: -2px;
		height: 60px;
	}

	/*resposive content home*/
	/*baru*/
	img.paper-up{
		top: -7px;
		height: 20px;
	}
	img.paper-down{
		position: relative;
		height: 20px;
		bottom: -2px;
	}
	/*baru card*/
	.content .container .col.mb-4{
		padding: 14px 22px;
	}
	/*responsive slider*/
	.slider .gallery {
	  padding-bottom: 80%;
	  /*height: 350px;*/
	}
	.slider h5{
		font-size: 16px;
		/*baru*/
	}
	/*******	

	responsive artikel

	********/

	#content{
		margin-top: 90px;
	}

	#sidebar{
		display: none;
	}

	/*setting content*/
	#content{
		padding: 0 12px;
		margin-top: 80px;

	}

	#content .artikel{
		padding: 18px;
	}

	#content .artikel #judul{
		font-size: 20px;
		margin-top: 8px;
	}

	figure .figure-caption{
		font-size: 12px;
	}
	p.uploaded{
		font-size: 12px;
	}

	span.nama-penulis{
		font-size: 12px;
	}
	/*slider responsive mobile*/
	/*slider*/
	.slider .gallery {
	  padding-bottom: 110%;
	}

	/* viewport inherit size from carousel */
	.slider .flickity-viewport {
	  position: absolute;
	  width: 100%;
	}
	.slider .gallery .gallery-cell{
		height: 100%;
	}
	/*.slider .gallery {
	 	height: 100%;
	}*/
	ul li a{
		font-size: 14px;
	}

	.my-navbar{
		display: block;
		height: 90px;
		padding: 0;
		transition: top 0.3s;
	}

	.navbar-left{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 16px 0 16px;
		margin-bottom: 4px;
	}
	.navbar-left .logo a{
		font-size: 18px;
	}


	/*form search baru by-nizar*/

	.my-navbar form.form-search{
		display: block;
		position: absolute;
		width: 85%;
		height: 40px;
		padding: 4px;
		border-radius: 6px;
		background-color: white;
		margin: 8px;
		top: -50px;
		transition: top 500ms ease-out;
	}
	#tag-menu {
		display:none;
		float: right;
	}
	.my-navbar form.form-search.show{
		top : 0;
	}
	.my-navbar form.form-search .input-search{
		width: 90%;
		height: 100%;
		font-size: 12px;
		padding: 4px;
		border: none;
		border-radius: 4px;
		background-color: transparent;
	}
	.mybtn {
		padding: 0.5rem;
		border-radius: 3px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: #fff
	}
	
	.navbar-right{
		display: none;
	}
	.mynavbar-content .logo{
		display: none;
	}

	.mynavbar-content{
		/*position: absolute;*/
		display: flex;
		justify-content: space-around;
		overflow-x: scroll;
		align-items: center;
		margin-top: 8px;
	}
	
	.mynavbar-list {
	  display: flex;
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	  position: relative;
	  left: 130px;
	}

	.mynavbar-content .mynavbar-list .mynav-item {
	  padding: 8px 12px;
	}

	.mynavbar-list .mynav-item .mynav-link {
		font-size: 16px;
		color: rgba(255, 255, 255, 0.9);
	 	text-decoration: none;
	}
	.dropdown {
	  position: relative;
	}

	.dropdown-btn {
	  display: flex !important;
	  justify-content: space-between;
	  align-items: center;
	}
	.dropdown-list {
	  display: none;
	  position: relative;
	  top: 0;
	  background-color: #fff;
	  border-radius: 3px;
	  width: clamp(160px, 200px, 220px);
	  padding: 0.5rem 0;
	  border: 1px solid #ccc;
	  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	}

	::-webkit-scrollbar{
		display: none;
	}

	/*responsive footer*/
	.footer-body div.info{
		width: 80%;
		text-align: center;
		margin:16px auto;
		box-sizing: border-box;
	}
/*	.content .container .col.mb-4{
		padding: 8px;
	}*/
	section#mahasiswa div.img-mahasiswa{
		display: none;
	}
	section#mahasiswa div.col-sm-12{
		padding: 16px auto;
		box-sizing: border-box;
	}

	/*style responsive jurusan baru*/
	section#jurusan{
		padding: 0 8px;
		margin-top: 80px;
	}

	/* ==================================
	baru -- style responsive untuk halaman kategori 
	jurusan  
	=======================================*/
	#jurusan .slider .gallery {
	  padding-bottom: 140%;
	}

	/* viewport inherit size from carousel */
	#jurusan .slider .flickity-viewport {
	  position: absolute;
	  width: 100%;
	}
	
	#jurusan .slider .gallery .gallery-cell{
		height: 100%;
	}
}